html {
  position: relative;
  min-height: 100%;
}

html,
body,
main {
  display: block;
  color: #333;
  background: #fff;
  width: 100%;
  height: calc(100% - 3em);
  margin: 0;
  z-index: 5;
}

main.content {
  background: #fff;
  text-align: left;
  width: 100%;
  padding-top: 50px;
  overflow: hidden;
}

main.content {
  padding-bottom: 3em;
}

.user-area {
  padding: 40px;
}
.operations-area {
  padding: 40px;
}

.App {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  transition: height 999999s;
  text-align: center;
  height: 300px;
  color: black;
  padding: 1px 0;
  margin-top: 3em;
  background-size: cover;
  background-color: rgb(80, 232, 255);
}

.hero h1 {
  font-size: 3em;
  line-height: 1;
  padding: 0;
}

.hero .content {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.pageContentWrapper {
  margin-bottom: 3em; /* Height of footer*/
}

.footer {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  border-top: 1px solid rgb(80, 232, 255);
  text-align: center;
}

.footer div {
  padding-top: 1rem;
}

/* books */

.book-list {
  margin-top: 2rem;
}

.book-list > div {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding-left: 0.6em;
  padding-bottom: 0.6em;
}

.book-list > * > span {
  display: block;
  padding: 0.6em 0;
  background: #2ecc40;
  text-align: center;
}

.admin {
  position: relative;
  width: 100%;
  height: 50vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  margin-top: 3em;
}

.grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}

.container {
  margin-top: 50px;
}
